/*ESTILO GENERAL A TODO*/
*
{
 
    margin: 0;
    padding: 1;
}
/*titulos, letras*/
h2, h3, h4
{
color: #0047AB;
}
h3, p
{
    color: #333333;
}
body 
{
    
background-color:#F2F2F2 ;
}
 /*ESTILO HEADER*/

/*colores 
:root {
    --azul-cobalto: #0047AB;
    --blanco-puro: #FFFFFF;
    --gris-claro: #F2F2F2;
    --gris-oscuro: #333333;
    --naranja-suave: #FF7F50;
    --celeste-pastel: #D4EFFF; */
 header 
 {
    background-color:#FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e0e0e0;
 }
    

    
 
header .logo
{
    
    padding: 0% 0% 0% 0.5%;
   
}
/* ESTILO DE NAV*/
 /*estilo de la lista  en nav*/
 nav ul
{
    list-style: none;
    gap: 1.1em;
display:flex; 
}
 nav ul li a 
 {
    font-family: Arial,  sans-serif;
    font-size: 18px;
    color:#333333;
text-decoration: none;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e0e0e0;
}
/*redes*/
header .redes-sociales
{
    text-align: end;
    padding: 0% 0.5% 0% 0%;
}
header .cta 
{
    text-align: end;
    padding: 0% 0.5% 0% 0%;
}
/*main*/

.container {
  display: grid;
    grid-template-columns: 1fr 300px; /*o del aside según sea necesario */
  }
main {
    padding: 20px;
    font-family: Arial, sans-serif;
}

section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #333333;
    border-radius: 5px;
   
}
.seccion-inicio 
{display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.seccion-inicio, .seccion-2 {
    background-color: #f8f9fc;
    }   

.seccion-1 .seccion-3 {
    background-color: #FFFFFF;
}


.aside-hoy {
   border: 1px solid #cce5ff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    left: 47%;;
    margin-top: 10px;
    padding: 10px;
    background-color:#D4EFFF;
    border-radius: 5px;
}
/*FOOTER*/
footer {
    font-size: 14px;
    background-color: #0047AB; /* Azul cobalto */
    
    padding: 10px 0;
    text-align: center;
}
footer p 
{
    color: #ffffff; /* Texto blanco */
}
footer a {
    color:#cce2ff; /* Un azul más claro para los enlaces */
    text-decoration: none;
}
footer ul
{ 
    display:inline-flex;
  gap: 1.2em;  
}
footer ul li 
{ 
list-style: none;

}
footer ul li a
{
    text-decoration: none;
   
}
@media (max-width: 768px) {
    .container {
      grid-template-columns: 1fr;
    }
  }